@import 'styleguide/helper';
@import 'styleguide/variables';
@import 'styleguide/mixins';
@import 'styleguide/typography';

@import 'normalize';

@import 'map';
@import 'intro-panel';
@import 'component';

.logo {
  bottom: 10px;
  position: absolute;
  right: 20px;
  width: 200px;
  z-index: 9999;

  img {
    -webkit-filter: grayscale(100%);
    transition: 0.4s all ease-in;
    width: 100%;
  }
}

.leaflet-control-attribution {
  display: none;
}

.slick-slide {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0,0,0,.45);
  margin: 20px;
  outline: none;
  padding: 20px 20px 30px;
  width: 340px;
}

.close {
  font-size: 1.8em;
  position: absolute;
  display: block;
    width: 400px;
    height: 400px;
  right: -100%;
  top: 20px;
}

.slick-arrow {
  background: #333;
  border: 0;
  border-radius: 50%;
  color: $lime;
  cursor: pointer;
  display: inline-block;
  font-size: 3em;
  height: 50px;
  line-height: 0.9em;
  margin-left: 10px;
  padding-left: 18px;
  position: absolute;
  width: 50px;
}

.slick-prev {
  bottom: -40px;
  left: 30px;
}

.slick-next {
  bottom: -40px;
  right: 40px;
}
