@import 'styleguide/helper';
@import 'styleguide/variables';
@import 'styleguide/mixins';
@import 'styleguide/typography';

@import 'normalize';

@import 'map';
@import 'intro-panel';
@import 'component';

.logo {
  bottom: 10px;
  position: absolute;
  right: 20px;
  width: 200px;
  z-index: 9999;

  img {
    -webkit-filter: grayscale(100%);
    transition: 0.4s all ease-in;
    width: 100%;
  }
}

.leaflet-control-attribution {
  display: none;
}
