@import 'styleguide/helper';
@import 'styleguide/variables';
@import 'styleguide/mixins';
@import 'styleguide/typography';

@import 'normalize';

@import 'map';
@import 'intro-panel';
@import 'component';

.logo {
  bottom: 10px;
  position: absolute;
  right: 20px;
  width: 200px;
  z-index: 9999;

  img {
    -webkit-filter: grayscale(100%);
    transition: 0.4s all ease-in;
    width: 100%;
  }
}

.leaflet-control-attribution {
  display: none;
}

.slick-slide {
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  margin: 20px;
  padding: 20px 20px 80px;
  width: 340px;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
}
